/* Icons */

	.icon {
		text-decoration: none;
		position: relative;
		text-decoration: none;
	}

	/* Icon styles now handled by custom-icons.css */
	/* FontAwesome removed - using custom SVG icons instead */

		.icon:before {
			line-height: inherit;
		}

		.icon > .label {
			display: none;
		}

