/* Main */

	#main {
		position: relative;
		overflow: hidden;
		width: 100%;
		background: #ffffff;
		box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.25);
		-moz-transition: min-height 0.5s ease-in-out, max-height 0.5s ease-in-out, width 0.5s ease-in-out;
		-webkit-transition: min-height 0.5s ease-in-out, max-height 0.5s ease-in-out, width 0.5s ease-in-out;
		-ms-transition: min-height 0.5s ease-in-out, max-height 0.5s ease-in-out, width 0.5s ease-in-out;
		transition: min-height 0.5s ease-in-out, max-height 0.5s ease-in-out, width 0.5s ease-in-out;
	}

		#main.has-intro {
			width: 50em;
			max-width: 100%;
			margin: 0 auto;
		}

		/* Mobile: Make home panel smaller than work panel */
		@media screen and (max-width: 736px) {
			#main.has-intro {
				max-width: 85%; /* Smaller than work panel which uses full width */
			}
		}

		#main > .panel {
			-moz-transition: opacity 0.25s ease-in-out;
			-webkit-transition: opacity 0.25s ease-in-out;
			-ms-transition: opacity 0.25s ease-in-out;
			transition: opacity 0.25s ease-in-out;
			margin-bottom: 0;
			position: relative;
			padding: 3.5em 2.5em 2.5em 2.5em;
			width: 100%;
		}

			#main > .panel.inactive {
				opacity: 0;
			}

			@media screen and (max-width: 736px) {

				#main > .panel {
					padding: 2em 1.5em 1.5em 1.5em;
				}

			}

			#main > .panel.intro {
				padding: 0;
				height: auto;
				min-height: 12em; /* Reduced from 20em */
				display: -moz-flex;
				display: -webkit-flex;
				display: -ms-flex;
				display: flex;
				-moz-flex-direction: column;
				-webkit-flex-direction: column;
				-ms-flex-direction: column;
				flex-direction: column;
				-moz-align-items: center;
				-webkit-align-items: center;
				-ms-align-items: center;
				align-items: center;
				background: var(--bg-primary);
				width: 50em;
				max-width: 100%;
				margin: 0 auto;
			}

				#main > .panel.intro > .intro-content {
					display: -moz-flex;
					display: -webkit-flex;
					display: -ms-flex;
					display: flex;
					-moz-flex-direction: row;
					-webkit-flex-direction: row;
					-ms-flex-direction: row;
					flex-direction: row;
					-moz-align-items: center;
					-webkit-align-items: center;
					-ms-align-items: center;
					align-items: center;
					width: 100%;
					height: 16em; /* Reduced from 20em */
				}

				#main > .panel.intro .pic {
					text-decoration: none;
					position: relative;
					-moz-flex-grow: 0;
					-webkit-flex-grow: 0;
					-ms-flex-grow: 0;
					flex-grow: 0;
					-moz-flex-shrink: 0;
					-webkit-flex-shrink: 0;
					-ms-flex-shrink: 0;
					flex-shrink: 0;
					width: 25em;
					height: 100%;
					flex-basis: 25em;
				}

					#main > .panel.intro .pic:before {
						content: '';
						position: absolute;
						top: 0;
						left: 0;
						background: url("images/overlay.png");
						width: 100%;
						height: 100%;
						z-index: 1;
					}

					#main > .panel.intro .pic img,
					#main > .panel.intro .pic video {
						position: relative;
						display: block;
						position: absolute;
						top: 0;
						left: 0;
						width: 100%;
						height: 100%;
						-moz-object-fit: cover;
						-webkit-object-fit: cover;
						-ms-object-fit: cover;
						object-fit: cover;
						-moz-object-position: center;
						-webkit-object-position: center;
						-ms-object-position: center;
						object-position: center;
					}

					#main > .panel.intro .pic .arrow {
						display: block;
						position: absolute;
						right: 0;
						top: 50%;
						margin-top: -1.375em;
						width: 2.75em;
						height: 2.75em;
						background: #000;
						background: rgba(0, 0, 0, 0.75);
						color: #ffffff; /* Always white on dark background */
						text-align: center;
						line-height: 2.75em;
						font-size: 1.5em;
						z-index: 1;
						-moz-transition: width .15s ease-in-out, padding-right .15s ease-in-out;
						-webkit-transition: width .15s ease-in-out, padding-right .15s ease-in-out;
						-ms-transition: width .15s ease-in-out, padding-right .15s ease-in-out;
						transition: width .15s ease-in-out, padding-right .15s ease-in-out;
					}
					
					/* Arrow icon is always white, no background */
					#main > .panel.intro .pic .arrow.icon {
						color: #ffffff !important;
						background: none !important;
					}
					
					#main > .panel.intro .pic .arrow.icon:before {
						background-color: #ffffff !important; /* Always white - needed for mask-image */
					}

						#main > .panel.intro .pic .arrow:before {
							position: relative;
							padding-right: 0;
							top: 0.125em;
						}

						#main > .panel.intro .pic .arrow span {
							display: block;
							text-indent: -9999px;
						}

					#main > .panel.intro .pic:hover .arrow {
						width: 3em;
						padding-right: 0.25em;
					}

				#main > .panel.intro header {
					-moz-flex-grow: 0;
					-webkit-flex-grow: 0;
					-ms-flex-grow: 0;
					flex-grow: 0;
					-moz-flex-shrink: 0;
					-webkit-flex-shrink: 0;
					-ms-flex-shrink: 0;
					flex-shrink: 0;
					padding: 0;
					margin: 0;
					width: 25em;
					height: 100%;
					display: flex;
					align-items: center;
					justify-content: center;
					background: var(--bg-primary);
				}

					#main > .panel.intro header h1 {
						line-height: 1.25em;
						margin: 0;
						padding: 1.5em 2em;
						width: 100%;
						text-align: center;
					}

					#main > .panel.intro header p {
						letter-spacing: -0.015em;
						font-size: 1.25em;
						margin: 0.25em 0 0 0;
					}

				@media screen and (max-width: 980px) {

					#main > .panel.intro > .intro-content {
						-moz-flex-direction: column;
						-webkit-flex-direction: column;
						-ms-flex-direction: column;
						flex-direction: column;
						height: auto;
					}

						#main > .panel.intro .pic {
							height: 15em; /* Reduced from 25em */
							width: 100%;
						}

						#main > .panel.intro header {
							padding: 0;
							text-align: center;
							width: 100%;
						}

				}

			@media screen and (max-width: 736px) {

				#main > .panel.intro {
					min-height: 6em; /* Further reduced for mobile portrait */
				}

				#main > .panel.intro .pic {
					height: 8em; /* Further reduced from 10em for mobile portrait */
				}

					#main > .panel.intro header {
						padding: 0;
					}

						#main > .panel.intro header p {
							font-size: 1em;
							margin: 0.25em 0 0 0;
						}

				}

