/* Basic */

	html {
		box-sizing: border-box;
	}

	*, *:before, *:after {
		box-sizing: inherit;
	}

	body {
		background-color: var(--bg-page);
		background-image: url("images/overlay.png"), url("images/bg.png");
		background-repeat: repeat, no-repeat;
		background-size: auto, 100% 100%;
		background-attachment: fixed;
		overflow-y: scroll;
	}

		body.is-preload *, body.is-preload *:before, body.is-preload *:after {
			-moz-animation: none !important;
			-webkit-animation: none !important;
			-ms-animation: none !important;
			animation: none !important;
			-moz-transition: none !important;
			-webkit-transition: none !important;
			-ms-transition: none !important;
			transition: none !important;
		}

	body, input, textarea, select {
		font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
		font-weight: 400;
		color: #777777;
		font-size: 20pt;
		line-height: 1.75em;
	}

		@media screen and (max-width: 1680px) {

			body, input, textarea, select {
				font-size: 15pt;
			}

		}

		@media screen and (max-width: 1280px) {

			body, input, textarea, select {
				font-size: 14pt;
			}

		}

		@media screen and (max-width: 736px) {

			body, input, textarea, select {
				font-size: 12pt;
			}

		}

		@media screen and (max-width: 360px) {

			body, input, textarea, select {
				font-size: 11pt;
			}

		}

	strong, b, h1, h2, h3, h4, h5, h6 {
		font-weight: 600;
		color: #363636;
	}

	h1 {
		font-size: 2.4em;
		letter-spacing: -0.015em;
	}

	h2 {
		font-size: 1.8em;
		letter-spacing: -0.015em;
	}

	h3, h4, h5, h6 {
		font-size: 1.25em;
		letter-spacing: -0.015em;
	}

	@media screen and (max-width: 736px) {

		h1 {
			font-size: 1.75em;
		}

		h2 {
			font-size: 1.375em;
		}

		h3, h4, h5, h6 {
			font-size: 1em;
		}

	}

	blockquote {
		border-left: solid 0.5em #ddd;
		padding: 1em 0 1em 2em;
		font-style: italic;
	}

	em, i {
		font-style: italic;
	}

	hr {
		border: 0;
		border-top: solid 1px #ddd;
		padding: 1.5em 0 0 0;
		margin: 1.75em 0 0 0;
	}

	sub {
		position: relative;
		top: 0.5em;
		font-size: 0.8em;
	}

	sup {
		position: relative;
		top: -0.5em;
		font-size: 0.8em;
	}

	br.clear {
		clear: both;
	}

	p, ul, ol, dl, table, blockquote, form {
		margin-bottom: 2em;
	}

body, input, textarea, select {
  color: var(--text-secondary);
  font-family: var(--font-sans);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  font-kerning: normal;
  font-feature-settings: "kern" 1, "liga" 1, "calt" 1;
  line-height: 1.65;
  letter-spacing: 0.01em;
}

strong, b, h1, h2, h3, h4, h5, h6 {
  color: var(--text-primary);
  font-family: var(--font-sans);
  font-weight: 700;
  letter-spacing: 0.015em;
  text-rendering: optimizeLegibility;
}

header > p {
  color: var(--text-muted);
}

hr {
  border-top: solid 1px var(--border-color);
}

blockquote {
  border-left: solid 0.5em var(--border-color);
}

table.default tbody tr {
  border-bottom: solid 1px var(--bg-secondary);
}

table.default thead {
  border-bottom: solid 2px var(--bg-secondary);
}

form input[type="text"],
form input[type="email"],
form input[type="password"],
form select,
form textarea {
  background: var(--bg-secondary);
}

form input[type="text"]:focus,
form input[type="email"]:focus,
form input[type="password"]:focus,
form select:focus,
form textarea:focus {
  background: var(--bg-primary);
}

